<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/contact.css">
</head>
<body>
    //= components/header.html
    <main>
            
        <div class="container-fluid">
            
                <div class="container crumbs ">
                        <span>
                            <a href="#">Home</a>
                             - 
                            <a class="active" href="#">Product Page</a>
                        </span>
                    </div>
            <div class="container bg">
                    
                <div class="section1">
                    <div class="title">
                    <h2>Contact With Us</h2>
                </div>
                    <div class="row">
                        <div class="col-12">
                                <div class="map">

                                    </div>
                        </div>
                    </div>
                  
                </div>
                    <div class="row section2">
                        <div class="col-4">
                                <div class="wraper">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <div class="address">
                                             <h3 class="line">Our Office Address</h3>
                                 
                                 <address>PO Box 16122 Collins Street West 
                                     Victoria 8007 Australia</address>
                                        </div>
                                </div>
                                <div class="wraper">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div class="address">
                                            <h3 class="line">Phone</h3>
                                            <a href="tel:+61 3 8376 6284">+61 3 8376 6284</a>
                                    </div>
                                </div>
                                 <div class="wraper">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>

                                     <div class="address">
                                            <h3 class="line">E-mail</h3>
                                            <a href="mailto:info@foxtar.com">info@foxtar.com</a> 
                                     </div>
                                 </div>   
                                    
                                
                                

                        </div>
                        <div class="col-8">
                                <form>
                                        <h2>Drop Us A Message </h2>
                                        <div class="form-grup">
                                             <input type="text"  id="name" value=""  placeholder="Name*" />

                                            <input type="text" id="email" value="" placeholder="E-mail*" />
                                        </div>
                                 
                                    
                                   <textarea placeholder="Message*"  id="Message" ></textarea>
                                    
                                    <button>send Message</button>
                                    
                                </form>
                            
                        </div>
                    </div>
            </div>
        </div>
       
    </main>
    //= components/footer.html
</body>
</html>