<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container section1">
            <div class="row wrap">
                <div class="col-3">
                     <a href="#"><img src="../img/logo.png" alt=""></a>
                </div>
               
                  <div class="col-9">
                         <div class="row wrap">
                              <div class="col-5">
                                  <p><span style="color:red;">Need help?</span> Talk to an expert: +61 3 8376 6284</p>
                                 </div>
                              <div class="col-3 icon-group">
                                   <div class="icon bell"><i class="fa fa-bell"></i></div>
                                  <div class="icon envelope"><i class="fa fa-envelope"></i></div>
                                  <div class="icon cart"><i class="fas fa-shopping-cart"></i></div>
                              </div>
                              <div class="col-3 account">
                                 <div id="avatar">
 
                                 </div>
                                 <div class="account-data">
                                    <h5>Mike Hussy <i class="fas fa-chevron-down"></i></h5>
                                  <span>$171.00</span>
                                  </div>
                                  <div></div>
                                  
                              </div>
                              <div class="col-1">
                                <button class="login">
                                    <h5>Login</h5>
                                 </button>
                                 <button>
                                   <h5>Logout</h5>
                                 </button>
                              </div>
                         </div>
                     </div>
 
            
            
             </div>
         </div>
         <div class="container-fluid section2">
             <div class="container">
             <div class="row">
                 <div class="col-12">
                     <a href="./main.html">Home</a>
                     <a href="#">About</a>
                     <a href="#">Word-Press</a>
                     <a href="#">Joomla</a>
                     <a href="#">Psd</a>
                     <a href="#">Plugins</a>
                     <a href="./all_new_item.html">Components</a>
                     <a href="#">Pages</a>
                     <a href="./contact.html">Contact</a>
                     <a href="./Withdrawals.html">Help</a>
                 </div>
             </div>
         </div>
         </div>
         <div class="containe-fluid section3">
         <div class="container">
             <div class="row">
                 <div class="col-7">
                     <h3>Premium WordPress Themes, Web Templates and Many More ...</h3>
                     <form class="search" action="" method="get">
                         <input name="s" placeholder="Search Your Keywords . . ." type="search">
                         <button type="submit"></button>
                       </form>
                 </div>
             </div>
         </div>
     </div>
    </header>
</body>
</html>