<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet-store Home page</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
   //= components/header.html
   
    <section class="section-1 newTheme-template">
       
        <div class="container mb-60">        	
        	<div class="row justify-content-center">
        	    <h2 class="sectionsTitle mb-60">Let’s Check Out Our Newest Release Prodcuts</h2>
                
                <div class="col-7">
                    <ul class="nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="home-tab">All</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="home-tab">WordPress</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="home-tab">Joomla</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="home-tab">Plugins</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="home-tab">Component</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="home-tab">PSD</a>
                        </li>
                    </ul>
                </div>
                
        	</div>			
		</div>
        
        <div class="container-fluid mb-50">
            <div class="row allProducts">
                
                <div class="col-3 mb-30">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Responsive Mobile APP</h3>
                                    <h4>Site Template</h4>
                                </div>
                                <h3 class="cost">$19</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="./img/main_image-author.png" alt="foto with author">
                                    <h4>Radiustheme</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                    
                        <div class="triangle">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                        </div>
                        
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>The Post Grid Pro</h3>
                                    <h4>WordPress Plugin</h4>
                                </div>
                                <h3 class="cost">$15</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>PsdBosS</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-15" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-15" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-14" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-14" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-13" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-13" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-12" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-12" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-11" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-11" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Food menu</h3>
                                    <h4>WordPress Plugin</h4>
                                </div>
                                <h3 class="cost">$20</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>Manilip</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-25" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-25" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-24" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-24" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-23" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-23" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-22" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-22" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-21" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-21" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Imac Mockup</h3>
                                    <h4>Psd Template</h4>
                                </div>
                                <h3 class="cost">$12</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>Lolypop</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-35" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-35" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-34" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-34" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-33" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-33" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-32" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-32" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-31" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-31" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Gymedge</h3>
                                    <h4>Joomla Template</h4>
                                </div>
                                <h3 class="cost">$45</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>Micrsof</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-45" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-45" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-44" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-44" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-43" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-43" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-42" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-42" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-41" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-41" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>The Post Grid Pro</h3>
                                    <h4>WordPress Plugin</h4>
                                </div>
                                <h3 class="cost">$19</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>Raklouse</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-55" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-55" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-54" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-54" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-53" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-53" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-52" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-52" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-51" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-51" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                        
                        <div class="triangle">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                        </div>
                        
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Doll Face</h3>
                                    <h4>Illsatration</h4>
                                </div>
                                <h3 class="cost">$10</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>Mikc Art</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-65" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-65" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-64" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-64" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-63" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-63" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-62" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-62" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-61" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-61" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-3 mb-30">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Designer Mockup</h3>
                                    <h4>PsdTemplate</h4>
                                </div>
                                <h3 class="cost">$10</h3>
                            </div>
                            <div class="path-2">
                               
                                <div class="aboutAuthor">
                                   
                                    <img src="../img/main_image-author.png" alt="foto with author">
                                    <h4>ThemeLol</h4>
                                </div>
                                
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-75" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-75" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-74" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-74" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-73" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-73" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-72" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-72" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-71" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-71" title="1 out of 5 stars"></label>
                                    </div>
                                    <h3>(01)</h3>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="container">
            <div class="row allButtons justify-content-center">
                <div class="col-4">
                    
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn-light">All New Items</button>
                        <button type="button" class="btn-light">Popular Items</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-2 weeklyTrending-products">
        <div class="container-fluid">
            
            <div class="row mb-50">
                <div class="col-12 text-center">
                    <h2 class="sectionsTitle">This Week Trending Products</h2>
                </div>
            </div>
            
            <div id="carouselProducts" class="carousel allProducts mb-70" data-ride="carousel">
               
                <div class="carousel-inner d-flex w-100">
                   
                    <div class="carousel-item col-3">
                        <div class="products">
                        
                            <div class="triangle">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            
                            <img src="../img/product.png" alt="image product">
                            
                            <div class="infoBlock">
                                
                                <div class="path-1">
                                    <div class="unit">
                                        <h3>Responsive Template</h3>
                                        <h4>Site Template</h4>
                                    </div>
                                    <h3 class="cost">$19</h3>
                                </div>
                                <div class="path-2">
                                   
                                    <div class="aboutAuthor">
                                        <img src="../img/main_image-author.png" alt="foto with author">
                                        <h4>Radiustheme</h4>
                                    </div>
                                    
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-85" type="radio" name="rating" value="5">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-85" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-84" type="radio" name="rating" value="4">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-84" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-83" type="radio" name="rating" value="3">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-83" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-82" type="radio" name="rating" value="2">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-82" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-81" type="radio" name="rating" value="1">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-81" title="1 out of 5 stars"></label>
                                        </div>
                                        <h3>(01)</h3>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="carousel-item col-3">
                        <div class="products">
                        
                            <div class="triangle">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            
                            <img src="../img/product.png" alt="image product">
                            
                            <div class="infoBlock">
                                
                                <div class="path-1">
                                    <div class="unit">
                                        <h3>The Post Grid Pro</h3>
                                        <h4>WordPress Plugin</h4>
                                    </div>
                                    <h3 class="cost">$15</h3>
                                </div>
                                <div class="path-2">
                                   
                                    <div class="aboutAuthor">
                                        <img src="../img/main_image-author.png" alt="foto with author">
                                        <h4>PsdBosS</h4>
                                    </div>
                                    
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-95" type="radio" name="rating" value="5">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-95" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-94" type="radio" name="rating" value="4">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-94" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-93" type="radio" name="rating" value="3">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-93" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-92" type="radio" name="rating" value="2">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-92" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-91" type="radio" name="rating" value="1">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-91" title="1 out of 5 stars"></label>
                                        </div>
                                        <h3>(01)</h3>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="carousel-item col-3">
                        <div class="products">
                        
                            <div class="triangle">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            
                            <img src="../img/product.png" alt="image product">
                            
                            <div class="infoBlock">
                                
                                <div class="path-1">
                                    <div class="unit">
                                        <h3>Logo Showcae</h3>
                                        <h4>Joomla Cmponent</h4>
                                    </div>
                                    <h3 class="cost">$20</h3>
                                </div>
                                <div class="path-2">
                                   
                                    <div class="aboutAuthor">
                                        <img src="../img/main_image-author.png" alt="foto with author">
                                        <h4>Manilip</h4>
                                    </div>
                                    
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-105" type="radio" name="rating" value="5">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-105" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-104" type="radio" name="rating" value="4">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-104" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-103" type="radio" name="rating" value="3">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-103" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-102" type="radio" name="rating" value="2">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-102" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-101" type="radio" name="rating" value="1">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-101" title="1 out of 5 stars"></label>
                                        </div>
                                        <h3>(01)</h3>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="carousel-item col-3">
                        <div class="products">
                        
                            <div class="triangle">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            
                            <img src="../img/product.png" alt="image product">
                            
                            <div class="infoBlock">
                                
                                <div class="path-1">
                                    <div class="unit">
                                        <h3>UI Design</h3>
                                        <h4>Psd Template</h4>
                                    </div>
                                    <h3 class="cost">$12</h3>
                                </div>
                                <div class="path-2">
                                   
                                    <div class="aboutAuthor">
                                        <img src="../img/main_image-author.png" alt="foto with author">
                                        <h4>Lolypop</h4>
                                    </div>
                                    
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-115" type="radio" name="rating" value="5">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-115" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-114" type="radio" name="rating" value="4">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-114" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-113" type="radio" name="rating" value="3">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-113" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-112" type="radio" name="rating" value="2">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-112" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-111" type="radio" name="rating" value="1">
                                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-111" title="1 out of 5 stars"></label>
                                        </div>
                                        <h3>(01)</h3>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                </div>

            </div>
            
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    
                    <ul class="carousel-indicators d-flex">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ul>
                    
                </div>
            </div>
            
        </div>
    </section>
    
    <section class="section-3 why choose">
        <div class="container">
              <div class="row all-services">
                
                <div class="col-12 mb-80">
                    <h2 class="sectionsTitle text-center">Why You Choose Foxtar Market Place?</h2>
                </div>
                
                <div class="col-4 item">
                   
                    <img src="../img/image-services.png" alt="servise-image" class="icon">
                    
                    <a href="#"><h5 class="itemTitle">Easily Buy & Sell</h5></a>
                    
                    <p class="text text-center">Dorem Ipsum is simply dummy text of the pring and typesetting industry. Lorem Ipsum has been the industry's standaum.</p>
                </div>
                
                <div class="col-4 item">
                   
                    <img src="../img/image-services.png" alt="servise-image" class="icon">
                    
                    <a href="#"><h5 class="itemTitle">Quality Products</h5></a>
                    
                    <p class="text text-center">Dorem Ipsum is simply dummy text of the pring and typesetting industry. Lorem Ipsum has been the industry's standaum.</p>
                </div>
                
                <div class="col-4 item">
                   
                    <img src="../img/image-services.png" alt="servise-image" class="icon">
                    
                    <a href="#"><h5 class="itemTitle">100% Secure Payment</h5></a>
                    
                    <p class="text text-center">Dorem Ipsum is simply dummy text of the pring and typesetting industry. Lorem Ipsum has been the industry's standaum.</p>
                </div>
                
            </div>
        </div>
    </section>
    
    <section class="section-4">
        <div class="container">
            <div class="row">                
                <div class="col-12">
                    
                    <div class="bg-grey-block">
                        <div class="bg-green-block d-flex">
                            
                            <h5 class="text-center">Over <span>20,000</span> Author <br> Are Involved Here!</h5>
                            
                            <a href="#" class="button">Become A Author</a>
                            
                        </div>
                    </div>
                    
                </div>                
            </div>
        </div>
    </section>
    
    <section class="section-5">
        <div class="container">
            <div class="row">
                
                <div class="col-12 mb-60">
                    <h2 class="sectionsTitle text-center">Free Monthly Tutorials To Help You With Your Project </h2>
                </div>
                
                <div class="col-4 tutorials">
                    <div class="wrapper">
                        <img src="./img/tutorial-image.png" alt="tutorial-icon">
                        
                        <a href="#"><h5 class="nameTutorials">Web Design Tutorials</h5></a>
                    </div>
                </div>
                <div class="col-4 tutorials">
                    <div class="wrapper">
                        <img src="./img/tutorial-image.png" alt="tutorial-icon">
                        
                        <a href="#"><h5 class="nameTutorials">WordPress Tutorials</h5></a>
                    </div>
                </div>
                <div class="col-4 tutorials">
                    <div class="wrapper">
                        <img src="./img/tutorial-image.png" alt="tutorial-icon">
                        
                        <a href="#"><h5 class="nameTutorials">HTML & CSS Tutorials</h5></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    //= components/footer.html
</body>
</html>