<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/withdrawals.css">
</head>
<body>
	//= components/header.html
	<section class="section-just">
			  <div class="container">
						<div class=" crumbs ">
								<span>
										<a href="#">Home</a>
										 - 
										<a class="active" href="#">Product Page</a>
								</span>
						</div>
				  <div class="row">
					<div class="together">
						<div class="earnings">
						  <h1>Withdrawals Earnings</h1> 
						   <div class="">
							  <div>
								<h3>Amount to Withdraw ($2000.00 Maximum) <span>*</span></h3>
								<input class="input" placeholder="Enter the amount you want to withdraw...">
							  </div> <!--1 инпут-->
							  <div>
								<h3>Choose your Withdraw Method <span>*</span></h3>
								   <select class="input">
									  <optgroup label="Select your card">
										  <option value="r1">VISA</option>
										  <option value="r2">PayPal</option>
										  <option value="r3">Privat24</option>
										  <option value="r4">MasterCard</option>
									  </optgroup>
								   </select>
							  </div> <!--2 инпут-->
							  <div>
								<h3>Your Account Name <span>*</span></h3>
								  <select class="input">
									  <optgroup label="Choose a name">
										  <option value="r1">Efimenko Anton</option>
										  <option value="r2">Ivanov Egor</option>
										  <option value="r3">Sokolov Vlad</option>
										  <option value="r4">Gromakov Alex</option>
									  </optgroup>
								   </select>
							  </div> <!--3 инпут-->
							  <div>
								<h3>Confirm Your Password <span>*</span></h3>
								<input class="input" placeholder="Сonfirm password">
							  </div> <!--4 инпут-->
							  <button class="button" type="button">Request Withdrawal</button>
						  </div> 
					  </div> <!--/earnings-->
					  <div class="history">
						  <h1>Withdrawal History</h1> 
						  <div class="block">
							  <table>
								<tr class="tr-1">
								  <th>Dec 26th, 2016 </th>
									  <th> Psdboss@paypal.com</th>
									  <th>$200</th>
									  <th>Pending</th>
								  </tr>
								  <tr class="tr-2">
									  <th>Dec 26th, 2016 </th>
									  <th> Psdboss@paypal.com</th>
									  <th>$100</th>
									  <th id="green">Paid</th>
								  </tr>
								  <tr class="tr-3">
									  <th>Dec 26th, 2016 </th>
									  <th> Psdboss@paypal.com</th>
									  <th>$200</th>
									  <th id="green">Paid</th>
								  </tr>
								  <tr class="tr-4">
									  <th>Dec 26th, 2016 </th>
									  <th>Psdboss@paypal.com</th>
									  <th>$100</th>
									  <th id="green">Paid </th>
								  </tr>
								  <tr class="tr-5">
									  <th>Dec 26th, 2016 </th>
									  <th> Psdboss@paypal.com</th>
									  <th>$200</th>
									  <th id="green">Paid</th>
								  </tr>
								  <tr class="tr-6"> 
									  <th>Dec 26th, 2016 </th>
									  <th> Psdboss@paypal.com</th>
									  <th>$100</th>
									  <th id="green">Paid</th>
								  </tr>
								  <tr class="tr-7">
									  <th>Dec 26th, 2016 </th>
									  <th> Psdboss@paypal.com</th>
									  <th>$200</th>
										  <th id="green">Paid</th>
								  </tr>
							  </table>
						  </div> <!--/block-->
					  </div>	<!--/history-->
					</div> <!--/together-->
				  </div> <!--/row-->
			  </div> <!--/container-->
		  </section><!--/section-earnings-->
	//= components/footer.html
</body>
</html>