@import "reset";
@import"search";
@import "variables";
@import "styles";
@mixin circul {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    transform: translate(8px,-13px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    
}
.crumbs{
    padding-top: 50px;
    padding-bottom: 45px;
    span {
        font-size: 15px;
        font-family: 'Roboto-Regular';
        color: #b0bec5;
        a{
            @extend span;
            text-decoration: none;
            padding-right: 7px;
        }
        .active{
            color: #263238;
            padding-left: 7px;
        }
    }
}
.line::after{
    content: '';
    margin:  20px 0;
    width: 50px;
    height: 5px;
    background-color: #8bc34a;
    
}

header{
    .section1{
        padding: 25px 0;

        .wrap{
            font-family: 'Roboto-Regular';
            color: #546e7a;
            font-size: 15px;
            display: flex;
            align-items: center;
           justify-content: space-around;
            .icon-group{
                display: flex;
                justify-content: flex-end;
                .icon:not(:first-child){
                    margin-left: 20px;
                }
            .icon{
                
                display: flex;
                font-size: 14px;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                justify-content: center;
                align-items: center;
                background: #f5f5f5 ;
                color: #263238;
                position: relative;
                &:hover{
                    box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
                    cursor: pointer;
                }

            }
            .bell:before{
                @include circul;
                content: '8';
                background-color:#fcb322;
                
            }
            .envelope::before{
                @include circul;
                content: '5';
                background-color: #ef6c00;

            }
            .cart:before{
                @include circul;
                content: '8';
                background-color: #95c85a;

            }
        }
        }
        .account{
            display: flex; 
              font-size: 14px;
            h5{
                font-family: 'Roboto-Medium';
                color: #222222;
                
            }
            span{
                font-family: 'Roboto-Bold';
                color: #8bc34a;
                
            }
            i{
                font-size: 16px;
                color: #707070;
                margin-left: 10px;
            }
        }
        .col-1{
            padding: 0 0;
        }
        button{
            cursor: pointer;
            font-family: 'Roboto-Regular';
            padding: 10px 15px;
            background: #b24a42;
            font-size: 12px;
            color: white;
            border: none;
            border-radius: 3px;
            
            &:hover{
                box-shadow: inset -1px 1px 19px 1px rgba(0,0,0,1);
            }            
            &.login {
                display: none;// для всех страниц кроме main-03_home-page
            }
        }
        #avatar{
            margin: 0 10px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color:#b5b5b5;
            
        }
        
    }
    .section2{
        background-color: #263238;
        a{
            font-family: 'Roboto-Medium';
            padding: 30px 0;
            display: inline-block;
            text-decoration: none;
            color: white;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
          a:not(:first-child){
            margin-left: 30px;
        }
    }
    .section3{
        font-family: 'Roboto-Medium';
        height: 230px;
        background-image: url(../img/searchBg.jpg);
            .row{
            display: flex;
            
            justify-content: center;
            .col-7{
                text-align: center;
                margin-top: 60px;
                h3{
                    color: white;
                    font-size: 20px;

                    margin-bottom: 30px;
                }
            }

            }
    }
   
}
