$color-sectionTitles: #2e353a; //цвет заголовков секций страници
$sectionTitlesSize: 36px; //размер заголовков секций

$green: #8bc34a;  //кнопки, текст
$white: #ffffff; //блоки на сером фоне
$bg-grey: #f4f6f5; //серый цвет фона для секций
$dark-gray: #263238; //бекграунд для хедера и футера
$light-gray: #d7d7d7; // в "withdrawals" бордеры

